body {
    font-family: italic, serif;
    margin: 0;
    background-color: lightcyan;
    color: red;
    background-image: url(background.png);
    background-size: cover;
    
}
header {
    background-color: cornsilk;
    color: blue;
    padding: 25px;
    text-align: center;
}
nav {
    background-color: palegreen;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 17px;
    padding: 9px;
    display: inline-block;
}
nav a:hover {
    background-color: ghostwhite;
    color: darkcyan;
}
section {
    padding: 30px;
    text-align: center;
}
h2 {
    color: white;
    font-style:oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.menu-grid, .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 22px;
    max-width: 1010px;
    margin: 24px auto;
    text-align: center;
}
.card {
    background-color: lavender;
    padding: 17px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    font-style: arial;
    color: fuchsia;
    text-shadow: rosybrown;
}
.card img {
    width: 70px;
    height: 105px;
    object-fit: cover;
    border-radius: 28px;
    align-items: center;
    border: deeppink;    
    
}
footer {
    background-color: yellow ;
    color: black;
    
    text-align: center;
    padding: 17px;
    
}
footer p {
    margin-bottom: 2px;
    margin-top: 4px;
    padding-bottom: 0%;


}
.container {
            height: max-content;
            max-width: 809px;
            margin: 0 auto;
            text-align: left;
            padding: 22px;
            background-color: lightgreen;
            border-radius: 16px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.1);
        }
        .container h2 {
            text-align: center;
            color: darkorchid;
        }
        .container p {
            font-size: 19px;
            margin: 12px 0;
        }
        .contact b {
            color: bisque;
        }